/* screen - blog */

.blog {
  background-color: var(--white);
  border: 1px none;
  height: 2270px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1500px;
}

.blog .recent-blogs-Sx52uh {
  background-color: transparent;
  height: auto;
  left: 894px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 146px;
  width: auto;
}

.blog .explore-Sx52uh {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 734px;
  width: auto;
}

.blog .main-blog-Sx52uh {
  background-color: transparent;
  cursor: pointer;
  height: 420px;
  left: 20px;
  position: absolute;
  top: 147px;
  width: 825px;
}

.blog .rectangle-19-xcDCTl {
  background-color: transparent;
  height: 436px;
  left: -8px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: -4px;
  width: 837px;
}

.blog .rectangle-20-xcDCTl {
  background: linear-gradient(
    180deg,
    rgba(244.37497973442078, 225.70744782686234, 202.62759268283844, 0) 0%,
    rgb(246.0000005364418, 136.00000709295273, 0) 100%
  );
  background-color: transparent;
  border: 1px none;
  border-radius: 20px;
  height: 420px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 821px;
}

.blog .blog-heading-xcDCTl {
  background-color: transparent;
  height: auto;
  left: 47px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 302px;
  width: auto;
}

.blog .lorem-ipsum-dolor-si-xcDCTl {
  background-color: transparent;
  height: auto;
  left: 47px;
  letter-spacing: 0px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 357px;
  width: 677px;
}

.blog .chevron-right-circle-outline-xcDCTl {
  background-color: transparent;
  cursor: pointer;
  height: 31px;
  left: 770px;
  mix-blend-mode: normal;
  position: absolute;
  top: 364px;
  width: 31px;
}

.blog .vertical-blog-Sx52uh::-webkit-scrollbar {
  display: none;
  width: 0;
}

.blog .vertical-blog-Sx52uh {
  background-color: transparent;
  border: 1px none;
  box-shadow: 0px 4px 6px #00000054;
  height: 357px;
  left: 877px;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 210px;
  width: 452px;
}

.blog .recent-blog-aKwvUS {
  background-color: transparent;
  height: 83px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 454px;
}

.blog .rectangle-21-Pzq7nh {
  background-color: var(--orangelight-4);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 83px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 452px;
}

.blog .ellipse-8-Pzq7nh {
  background-color: var(--white);
  border: 1px none;
  border-radius: 27.03px/29px;
  height: 58px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 54px;
}

.blog .blog-title-Pzq7nh {
  background-color: transparent;
  height: auto;
  left: 108px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 160px;
}

.blog .chevron-right-circle-outline-Pzq7nh {
  background-color: transparent;
  height: 45px;
  left: 385px;
  mix-blend-mode: normal;
  position: absolute;
  top: 19px;
  width: 42px;
}

.blog .recent-blog-Ouvp9N {
  background-color: transparent;
  height: 83px;
  left: 0px;
  position: absolute;
  top: 105px;
  width: 454px;
}

.blog .rectangle-21-rNSXwX {
  background-color: var(--orangelight-4);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 83px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 452px;
}

.blog .ellipse-8-rNSXwX {
  background-color: var(--white);
  border: 1px none;
  border-radius: 27.03px/29px;
  height: 58px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 54px;
}

.blog .blog-title-rNSXwX {
  background-color: transparent;
  height: auto;
  left: 108px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 160px;
}

.blog .chevron-right-circle-outline-rNSXwX {
  background-color: transparent;
  height: 45px;
  left: 385px;
  mix-blend-mode: normal;
  position: absolute;
  top: 19px;
  width: 42px;
}

.blog .recent-blog-bFpyih {
  background-color: transparent;
  height: 83px;
  left: 0px;
  position: absolute;
  top: 210px;
  width: 454px;
}

.blog .rectangle-21-UThW3u {
  background-color: var(--orangelight-4);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 83px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 452px;
}

.blog .ellipse-8-UThW3u {
  background-color: var(--white);
  border: 1px none;
  border-radius: 27.03px/29px;
  height: 58px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 54px;
}

.blog .blog-title-UThW3u {
  background-color: transparent;
  height: auto;
  left: 108px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 160px;
}

.blog .chevron-right-circle-outline-UThW3u {
  background-color: transparent;
  height: 45px;
  left: 385px;
  mix-blend-mode: normal;
  position: absolute;
  top: 19px;
  width: 42px;
}

.blog .recent-blog-ekWwVP {
  background-color: transparent;
  height: 83px;
  left: 0px;
  position: absolute;
  top: 315px;
  width: 454px;
}

.blog .rectangle-21-kPFkyr {
  background-color: var(--orangelight-4);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 83px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 452px;
}

.blog .ellipse-8-kPFkyr {
  background-color: var(--white);
  border: 1px none;
  border-radius: 27.03px/29px;
  height: 58px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 54px;
}

.blog .blog-title-kPFkyr {
  background-color: transparent;
  height: auto;
  left: 108px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 160px;
}

.blog .chevron-right-circle-outline-kPFkyr {
  background-color: transparent;
  height: 45px;
  left: 385px;
  mix-blend-mode: normal;
  position: absolute;
  top: 19px;
  width: 42px;
}

.blog .recent-blog-6VKgrw {
  background-color: transparent;
  height: 83px;
  left: 0px;
  position: absolute;
  top: 420px;
  width: 454px;
}

.blog .rectangle-21-6VQttt {
  background-color: var(--orangelight-4);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 83px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 452px;
}

.blog .ellipse-8-6VQttt {
  background-color: var(--white);
  border: 1px none;
  border-radius: 27.03px/29px;
  height: 58px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 54px;
}

.blog .blog-title-6VQttt {
  background-color: transparent;
  height: auto;
  left: 108px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 160px;
}

.blog .chevron-right-circle-outline-6VQttt {
  background-color: transparent;
  height: 45px;
  left: 385px;
  mix-blend-mode: normal;
  position: absolute;
  top: 19px;
  width: 42px;
}

.blog .recent-blog-nVu14D {
  background-color: transparent;
  height: 83px;
  left: 0px;
  position: absolute;
  top: 525px;
  width: 454px;
}

.blog .rectangle-21-XKMoxR {
  background-color: var(--orangelight-4);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 83px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 452px;
}

.blog .ellipse-8-XKMoxR {
  background-color: var(--white);
  border: 1px none;
  border-radius: 27.03px/29px;
  height: 58px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 54px;
}

.blog .blog-title-XKMoxR {
  background-color: transparent;
  height: auto;
  left: 108px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 160px;
}

.blog .chevron-right-circle-outline-XKMoxR {
  background-color: transparent;
  height: 45px;
  left: 385px;
  mix-blend-mode: normal;
  position: absolute;
  top: 19px;
  width: 42px;
}

.blog .footer-Sx52uh {
  background-color: transparent;
  border: 1px none;
  height: 421px;
  left: 0px;
  position: absolute;
  top: 1849px;
  width: 1500px;
}

.blog .rectangle-4-PVKv0Q {
  background-color: var(--orangestandard);
  border: 1px none;
  box-shadow: 0px -4px 7px 2px #00000040;
  height: 421px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1500px;
}

.blog .logo-PVKv0Q {
  background-color: transparent;
  border: 1px none;
  height: 65px;
  left: 188px;
  mix-blend-mode: normal;
  position: absolute;
  top: 143px;
  width: 140px;
}

.blog .logo-5xsxrz {
  background-color: transparent;
  height: auto;
  left: 165px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 46px;
  width: auto;
}

.blog .save-resources-with-our-web-app-PVKv0Q {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 165px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 129px;
  width: auto;
}

.blog .how-it-works-PVKv0Q {
  background-color: transparent;
  height: auto;
  left: 782px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 132px;
  white-space: nowrap;
  width: auto;
}

.blog .about-us-PVKv0Q {
  background-color: transparent;
  height: auto;
  left: 1034px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 130px;
  white-space: nowrap;
  width: auto;
}

.blog .blog-PVKv0Q {
  background-color: transparent;
  height: auto;
  left: 1034px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 175px;
  white-space: nowrap;
  width: auto;
}

.blog .privacy-PVKv0Q {
  background-color: transparent;
  height: auto;
  left: 1034px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 215px;
  white-space: nowrap;
  width: auto;
}

.blog .terms-of-service-PVKv0Q {
  background-color: transparent;
  height: auto;
  left: 1034px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 255px;
  white-space: nowrap;
  width: auto;
}

.blog .copyright2022-our-ap-PVKv0Q {
  background-color: transparent;
  height: auto;
  left: 978px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 375px;
  white-space: nowrap;
  width: auto;
}

.blog .templates-PVKv0Q {
  background-color: transparent;
  height: auto;
  left: 782px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 172px;
  white-space: nowrap;
  width: auto;
}

.blog .features-PVKv0Q {
  background-color: transparent;
  height: auto;
  left: 775px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 67px;
  white-space: nowrap;
  width: auto;
}

.blog .company-PVKv0Q {
  background-color: transparent;
  height: auto;
  left: 1034px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 70px;
  white-space: nowrap;
  width: auto;
}

.blog .icon-twitter-PVKv0Q {
  background-color: transparent;
  height: 36px;
  left: 229px;
  mix-blend-mode: normal;
  position: absolute;
  top: 248px;
  width: 36px;
}

.blog .icon-instagram-PVKv0Q {
  background-color: transparent;
  height: 33px;
  left: 290px;
  mix-blend-mode: normal;
  position: absolute;
  top: 252px;
  width: 33px;
}

.blog .youtube-PVKv0Q {
  background-color: transparent;
  height: 29px;
  left: 348px;
  mix-blend-mode: normal;
  position: absolute;
  top: 253px;
  width: 41px;
}

.blog .icon-facebook-PVKv0Q {
  background-color: transparent;
  height: 36px;
  left: 168px;
  mix-blend-mode: normal;
  position: absolute;
  top: 250px;
  width: 36px;
}

.blog .blog-cards-Sx52uh {
  background-color: transparent;
  cursor: pointer;
  height: 300px;
  left: 14px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 805px;
  width: 300px;
}

.blog .blog-cards-dYLD7M {
  background-color: transparent;
  cursor: pointer;
  height: 300px;
  left: 648px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 805px;
  width: 388px;
}

.blog .blog-cards-lyYyvX {
  background-color: transparent;
  cursor: pointer;
  height: 300px;
  left: 648px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 1461px;
  width: 388px;
}

.blog .blog-cards-fxrnlu {
  background-color: transparent;
  cursor: pointer;
  height: 300px;
  left: 648px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 1133px;
  width: 388px;
}

.blog .blog-cards-g5Mnzc {
  background-color: transparent;
  cursor: pointer;
  height: 449px;
  left: 1052px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 805px;
  width: 300px;
}

.blog .blog-cards-fxofSV {
  background-color: transparent;
  cursor: pointer;
  height: 484px;
  left: 1052px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 1277px;
  width: 300px;
}

.blog .blog-cards-HOP4bK {
  background-color: transparent;
  cursor: pointer;
  height: 300px;
  left: 14px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 1133px;
  width: 300px;
}

.blog .blog-cards-uhoKKn {
  background-color: transparent;
  cursor: pointer;
  height: 300px;
  left: 14px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 1461px;
  width: 617px;
}

.blog .blog-cards-qYt11Z {
  background-color: transparent;
  cursor: pointer;
  height: 628px;
  left: 331px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 805px;
  width: 300px;
}

.blog .navbar-Sx52uh {
  background-color: transparent;
  border: 1px none;
  box-shadow: 0px 4px 7px #00000075;
  height: 81px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1500px;
}

.blog .group-3-DdUTpx {
  background-color: transparent;
  height: 81px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1378px;
}

.blog .rectangle-18-j6tfpY {
  background-color: var(--orangestandard);
  border: 1px none;
  height: 81px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.blog .logo-j6tfpY {
  background-color: transparent;
  border: 1px none;
  cursor: pointer;
  height: 65px;
  left: 16px;
  mix-blend-mode: normal;
  position: absolute;
  top: 8px;
  width: 140px;
}

.blog .logo-SVIP6a {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.blog .features-j6tfpY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 337px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 21px;
  width: auto;
}

.blog .how-to-j6tfpY {
  background-color: transparent;
  height: auto;
  left: 489px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 21px;
  width: auto;
}

.blog .log-in-j6tfpY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1282px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 21px;
  width: auto;
}

.blog .sign-up-j6tfpY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1178px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 21px;
  width: auto;
}

.blog .blog-j6tfpY {
  background-color: transparent;
  height: auto;
  left: 631px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 21px;
  width: auto;
}

.blog .faq-j6tfpY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 744px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 21px;
  width: auto;
}

.blog .line-1-DdUTpx {
  background-color: transparent;
  height: 3px;
  left: 623px;
  position: absolute;
  top: 63px;
  width: 70px;
}
