@import url("https://fonts.googleapis.com/css?family=Inter:200,400");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/631193053cda19c4344defd1.631193063913a4782d2b6fae.lD33UQd.hcp.png");
@font-face {
  font-family: "Satoshi-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Satoshi-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Satoshi-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Satoshi-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Satoshi-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Satoshi-Light.otf") format("opentype");
}
@font-face {
  font-family: "Satoshi-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Satoshi-Medium.woff") format("woff");
}


.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.overlay {
  display: none;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.overlay.animate-appear {
  animation: reveal 0.3s ease-in-out 1 normal forwards;
  display: block;
  opacity: 0;
}

.overlay.animate-disappear {
  animation: reveal 0.3s ease-in-out 1 reverse forwards;
  display: block;
  opacity: 1;
  pointer-events: none;
}

.overlay.animate-disappear * {
  pointer-events: none;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

* {
  box-sizing: border-box;
}
