/* screen - my-peogress-new-user */

.my-peogress-new-user {
  background-color: var(--white);
  border: 1px none;
  height: 1982px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1500px;
}

.my-peogress-new-user .union-1kBVA9 {
  background-color: transparent;
  height: 1358px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 355px;
}

.my-peogress-new-user .logo-1kBVA9 {
  background-color: transparent;
  border: 1px none;
  cursor: pointer;
  height: 65px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 28px;
  width: 140px;
}

.my-peogress-new-user .logo-iKvakb {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.my-peogress-new-user .blog-1kBVA9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 392px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 36px;
  width: auto;
}

.my-peogress-new-user .faq-1kBVA9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 505px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 36px;
  width: auto;
}

.my-peogress-new-user .icon-settings-1kBVA9 {
  background-color: transparent;
  height: 26px;
  left: 1198px;
  mix-blend-mode: normal;
  position: absolute;
  top: 40px;
  width: 25px;
}

.my-peogress-new-user .vector-1kBVA9 {
  background-color: transparent;
  cursor: pointer;
  height: 55px;
  left: 1268px;
  mix-blend-mode: normal;
  position: absolute;
  top: 26px;
  width: 55px;
}

.my-peogress-new-user .progress-1kBVA9 {
  background-color: transparent;
  height: auto;
  left: 102px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 674px;
  width: auto;
}

.my-peogress-new-user .progress-GBOx2f {
  background-color: transparent;
  height: auto;
  left: 392px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 172px;
  width: auto;
}

.my-peogress-new-user .start-completing-tas-1kBVA9 {
  background-color: transparent;
  color: var(--orangelight-2);
  font-family: var(--font-family-satoshi-black);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 433px;
  letter-spacing: 0px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 615px;
  width: auto;
}

.my-peogress-new-user .footer-1kBVA9 {
  background-color: transparent;
  border: 1px none;
  height: 421px;
  left: 0px;
  position: absolute;
  top: 1564px;
  width: 1500px;
}

.my-peogress-new-user .rectangle-4-4ocJuy {
  background-color: var(--orangestandard);
  border: 1px none;
  box-shadow: 0px -4px 7px 2px #00000040;
  height: 421px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1500px;
}

.my-peogress-new-user .logo-4ocJuy {
  background-color: transparent;
  border: 1px none;
  height: 65px;
  left: 188px;
  mix-blend-mode: normal;
  position: absolute;
  top: 143px;
  width: 140px;
}

.my-peogress-new-user .logo-JqCqbH {
  background-color: transparent;
  height: auto;
  left: 165px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 46px;
  width: auto;
}

.my-peogress-new-user .save-resources-with-our-web-app-4ocJuy {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 165px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 129px;
  width: auto;
}

.my-peogress-new-user .how-it-works-4ocJuy {
  background-color: transparent;
  height: auto;
  left: 782px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 132px;
  white-space: nowrap;
  width: auto;
}

.my-peogress-new-user .about-us-4ocJuy {
  background-color: transparent;
  height: auto;
  left: 1034px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 130px;
  white-space: nowrap;
  width: auto;
}

.my-peogress-new-user .blog-4ocJuy {
  background-color: transparent;
  height: auto;
  left: 1034px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 175px;
  white-space: nowrap;
  width: auto;
}

.my-peogress-new-user .privacy-4ocJuy {
  background-color: transparent;
  height: auto;
  left: 1034px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 215px;
  white-space: nowrap;
  width: auto;
}

.my-peogress-new-user .terms-of-service-4ocJuy {
  background-color: transparent;
  height: auto;
  left: 1034px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 255px;
  white-space: nowrap;
  width: auto;
}

.my-peogress-new-user .copyright2022-our-ap-4ocJuy {
  background-color: transparent;
  height: auto;
  left: 978px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 375px;
  white-space: nowrap;
  width: auto;
}

.my-peogress-new-user .templates-4ocJuy {
  background-color: transparent;
  height: auto;
  left: 782px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 172px;
  white-space: nowrap;
  width: auto;
}

.my-peogress-new-user .features-4ocJuy {
  background-color: transparent;
  height: auto;
  left: 775px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 67px;
  white-space: nowrap;
  width: auto;
}

.my-peogress-new-user .company-4ocJuy {
  background-color: transparent;
  height: auto;
  left: 1034px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 70px;
  white-space: nowrap;
  width: auto;
}

.my-peogress-new-user .icon-twitter-4ocJuy {
  background-color: transparent;
  height: 36px;
  left: 229px;
  mix-blend-mode: normal;
  position: absolute;
  top: 248px;
  width: 36px;
}

.my-peogress-new-user .icon-instagram-4ocJuy {
  background-color: transparent;
  height: 33px;
  left: 290px;
  mix-blend-mode: normal;
  position: absolute;
  top: 252px;
  width: 33px;
}

.my-peogress-new-user .youtube-4ocJuy {
  background-color: transparent;
  height: 29px;
  left: 348px;
  mix-blend-mode: normal;
  position: absolute;
  top: 253px;
  width: 41px;
}

.my-peogress-new-user .icon-facebook-4ocJuy {
  background-color: transparent;
  height: 36px;
  left: 168px;
  mix-blend-mode: normal;
  position: absolute;
  top: 250px;
  width: 36px;
}

.my-peogress-new-user .dashboard-1kBVA9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 80px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 160px;
  width: auto;
}

.my-peogress-new-user .my-devices-1kBVA9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 76px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 284px;
  width: auto;
}

.my-peogress-new-user .schedule-1kBVA9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 93px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 408px;
  width: auto;
}

.my-peogress-new-user .tasks-1kBVA9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 125px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 525px;
  width: auto;
}

.my-peogress-new-user .how-to-1kBVA9 {
  background-color: transparent;
  height: auto;
  left: 95px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 801px;
  width: auto;
}
