/* screen - my-progress-old-user */

.my-progress-old-user {
  background-color: var(--white);
  border: 1px none;
  height: 1982px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1500px;
}

.my-progress-old-user .union-rf4XFM {
  background-color: transparent;
  height: 1358px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 355px;
}

.my-progress-old-user .logo-rf4XFM {
  background-color: transparent;
  border: 1px none;
  cursor: pointer;
  height: 65px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 28px;
  width: 140px;
}

.my-progress-old-user .logo-Ae088V {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.my-progress-old-user .blog-rf4XFM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 392px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 36px;
  width: auto;
}

.my-progress-old-user .sun-rf4XFM {
  background-color: transparent;
  height: auto;
  left: 413px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 480px;
  width: auto;
}

.my-progress-old-user .mon-rf4XFM {
  background-color: transparent;
  height: auto;
  left: 553px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 480px;
  width: auto;
}

.my-progress-old-user .tue-rf4XFM {
  background-color: transparent;
  height: auto;
  left: 702px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 480px;
  width: auto;
}

.my-progress-old-user .wed-rf4XFM {
  background-color: transparent;
  height: auto;
  left: 838px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 480px;
  width: auto;
}

.my-progress-old-user .thu-rf4XFM {
  background-color: transparent;
  height: auto;
  left: 985px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 480px;
  width: auto;
}

.my-progress-old-user .fri-rf4XFM {
  background-color: transparent;
  height: auto;
  left: 1125px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 480px;
  width: auto;
}

.my-progress-old-user .sat-rf4XFM {
  background-color: transparent;
  height: auto;
  left: 1252px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 480px;
  width: auto;
}

.my-progress-old-user .faq-rf4XFM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 505px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 36px;
  width: auto;
}

.my-progress-old-user .icon-settings-rf4XFM {
  background-color: transparent;
  height: 26px;
  left: 1198px;
  mix-blend-mode: normal;
  position: absolute;
  top: 40px;
  width: 25px;
}

.my-progress-old-user .vector-rf4XFM {
  background-color: transparent;
  cursor: pointer;
  height: 55px;
  left: 1268px;
  mix-blend-mode: normal;
  position: absolute;
  top: 26px;
  width: 55px;
}

.my-progress-old-user .progress-rf4XFM {
  background-color: transparent;
  height: auto;
  left: 102px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 674px;
  width: auto;
}

.my-progress-old-user .progress-G0VNuW {
  background-color: transparent;
  height: auto;
  left: 392px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 172px;
  width: auto;
}

.my-progress-old-user .footer-rf4XFM {
  background-color: transparent;
  border: 1px none;
  height: 421px;
  left: 0px;
  position: absolute;
  top: 1564px;
  width: 1500px;
}

.my-progress-old-user .rectangle-4-46A3xU {
  background-color: var(--orangestandard);
  border: 1px none;
  box-shadow: 0px -4px 7px 2px #00000040;
  height: 421px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1500px;
}

.my-progress-old-user .logo-46A3xU {
  background-color: transparent;
  border: 1px none;
  height: 65px;
  left: 188px;
  mix-blend-mode: normal;
  position: absolute;
  top: 143px;
  width: 140px;
}

.my-progress-old-user .logo-x3sx11 {
  background-color: transparent;
  height: auto;
  left: 165px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 46px;
  width: auto;
}

.my-progress-old-user .save-resources-with-our-web-app-46A3xU {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 165px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 129px;
  width: auto;
}

.my-progress-old-user .how-it-works-46A3xU {
  background-color: transparent;
  height: auto;
  left: 782px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 132px;
  white-space: nowrap;
  width: auto;
}

.my-progress-old-user .about-us-46A3xU {
  background-color: transparent;
  height: auto;
  left: 1034px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 130px;
  white-space: nowrap;
  width: auto;
}

.my-progress-old-user .blog-46A3xU {
  background-color: transparent;
  height: auto;
  left: 1034px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 175px;
  white-space: nowrap;
  width: auto;
}

.my-progress-old-user .privacy-46A3xU {
  background-color: transparent;
  height: auto;
  left: 1034px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 215px;
  white-space: nowrap;
  width: auto;
}

.my-progress-old-user .terms-of-service-46A3xU {
  background-color: transparent;
  height: auto;
  left: 1034px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 255px;
  white-space: nowrap;
  width: auto;
}

.my-progress-old-user .copyright2022-our-ap-46A3xU {
  background-color: transparent;
  height: auto;
  left: 978px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 375px;
  white-space: nowrap;
  width: auto;
}

.my-progress-old-user .templates-46A3xU {
  background-color: transparent;
  height: auto;
  left: 782px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 172px;
  white-space: nowrap;
  width: auto;
}

.my-progress-old-user .features-46A3xU {
  background-color: transparent;
  height: auto;
  left: 775px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 67px;
  white-space: nowrap;
  width: auto;
}

.my-progress-old-user .company-46A3xU {
  background-color: transparent;
  height: auto;
  left: 1034px;
  letter-spacing: 0px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 70px;
  white-space: nowrap;
  width: auto;
}

.my-progress-old-user .icon-twitter-46A3xU {
  background-color: transparent;
  height: 36px;
  left: 229px;
  mix-blend-mode: normal;
  position: absolute;
  top: 248px;
  width: 36px;
}

.my-progress-old-user .icon-instagram-46A3xU {
  background-color: transparent;
  height: 33px;
  left: 290px;
  mix-blend-mode: normal;
  position: absolute;
  top: 252px;
  width: 33px;
}

.my-progress-old-user .youtube-46A3xU {
  background-color: transparent;
  height: 29px;
  left: 348px;
  mix-blend-mode: normal;
  position: absolute;
  top: 253px;
  width: 41px;
}

.my-progress-old-user .icon-facebook-46A3xU {
  background-color: transparent;
  height: 36px;
  left: 168px;
  mix-blend-mode: normal;
  position: absolute;
  top: 250px;
  width: 36px;
}

.my-progress-old-user .sunday-rf4XFM {
  background-color: transparent;
  height: 110px;
  left: 392px;
  position: absolute;
  top: 338px;
  width: 112px;
}

.my-progress-old-user .x40-nNsMeT {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 36px;
  width: auto;
}

.my-progress-old-user .ellipse-13-nNsMeT {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--orangelight-3);
  border-radius: 53px;
  height: 106px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 106px;
}

.my-progress-old-user .subtract-nNsMeT {
  background-color: transparent;
  height: 75px;
  left: 32px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 78px;
}

.my-progress-old-user .wednesday-rf4XFM {
  background-color: transparent;
  height: 110px;
  left: 799px;
  position: absolute;
  top: 342px;
  width: 115px;
}

.my-progress-old-user .x50-wvxzxx {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 32px;
  width: auto;
}

.my-progress-old-user .ellipse-16-wvxzxx {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--orangelight-3);
  border-radius: 53px;
  height: 106px;
  left: 7px;
  position: absolute;
  top: 0px;
  width: 106px;
}

.my-progress-old-user .subtract-wvxzxx {
  background-color: transparent;
  height: 81px;
  left: 3px;
  mix-blend-mode: normal;
  position: absolute;
  top: 28px;
  width: 72px;
}

.my-progress-old-user .friday-rf4XFM {
  background-color: transparent;
  height: 115px;
  left: 1082px;
  position: absolute;
  top: 342px;
  width: 128px;
}

.my-progress-old-user .x63-OAQm8c {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  width: auto;
}

.my-progress-old-user .ellipse-18-OAQm8c {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--orangelight-3);
  border-radius: 53px;
  height: 106px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 106px;
}

.my-progress-old-user .subtract-OAQm8c {
  background-color: transparent;
  height: 93px;
  left: 51px;
  mix-blend-mode: normal;
  position: absolute;
  top: 19px;
  width: 59px;
}

.my-progress-old-user .monday-rf4XFM {
  background-color: transparent;
  height: 106px;
  left: 530px;
  position: absolute;
  top: 342px;
  width: 112px;
}

.my-progress-old-user .x20-Pai3s2 {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 32px;
  width: auto;
}

.my-progress-old-user .ellipse-14-Pai3s2 {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--orangelight-3);
  border-radius: 53px;
  height: 106px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 106px;
}

.my-progress-old-user .subtract-Pai3s2 {
  background-color: transparent;
  height: 59px;
  left: 88px;
  mix-blend-mode: normal;
  position: absolute;
  top: 36px;
  width: 22px;
}

.my-progress-old-user .saturday-rf4XFM {
  background-color: transparent;
  height: 111px;
  left: 1220px;
  position: absolute;
  top: 337px;
  width: 117px;
}

.my-progress-old-user .x23-Z8du3H {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 37px;
  width: auto;
}

.my-progress-old-user .ellipse-19-Z8du3H {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--orangelight-3);
  border-radius: 53px;
  height: 106px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 106px;
}

.my-progress-old-user .subtract-Z8du3H {
  background-color: transparent;
  height: 40px;
  left: 61px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 46px;
}

.my-progress-old-user .thrsday-rf4XFM {
  background-color: transparent;
  height: 128px;
  left: 934px;
  position: absolute;
  top: 320px;
  width: 118px;
}

.my-progress-old-user .ellipse-17-mB3vvO {
  background-color: var(--orangestandard);
  border: 1px none;
  border-radius: 53px;
  height: 106px;
  left: 10px;
  mix-blend-mode: normal;
  position: absolute;
  top: 22px;
  width: 106px;
}

.my-progress-old-user .vector-mB3vvO {
  background-color: transparent;
  height: 36px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 34px;
}

.my-progress-old-user .x100-mB3vvO {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 55px;
  width: auto;
}

.my-progress-old-user .tuesday-rf4XFM {
  background-color: transparent;
  height: 132px;
  left: 662px;
  position: absolute;
  top: 316px;
  width: 114px;
}

.my-progress-old-user .ellipse-15-8nVspf {
  background-color: var(--orangestandard);
  border: 1px none;
  border-radius: 53px;
  height: 106px;
  left: 6px;
  mix-blend-mode: normal;
  position: absolute;
  top: 26px;
  width: 106px;
}

.my-progress-old-user .vector-8nVspf {
  background-color: transparent;
  height: 36px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 34px;
}

.my-progress-old-user .x100-8nVspf {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 59px;
  width: auto;
}

.my-progress-old-user .completed-task-number-rf4XFM {
  background-color: transparent;
  height: 248px;
  left: 385px;
  position: absolute;
  top: 622px;
  width: 300px;
}

.my-progress-old-user .rectangle-65-9NjLWr {
  background-color: var(--orangelight-4);
  border: 1px none;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  height: 248px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 298px;
}

.my-progress-old-user .rectangle-66-9NjLWr {
  background-color: transparent;
  border: 3px solid;
  border-color: var(--orangestandard);
  border-radius: 20px;
  height: 188px;
  left: 39px;
  position: absolute;
  top: 38px;
  width: 226px;
}

.my-progress-old-user .x21-9NjLWr {
  background-color: transparent;
  color: var(--orangestandard);
  font-family: var(--font-family-satoshi-black);
  font-size: 128px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 82px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 38px;
  width: auto;
}

.my-progress-old-user .tasks-completed-rf4XFM {
  background-color: transparent;
  height: auto;
  left: 722px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 657px;
  width: auto;
}

.my-progress-old-user .energy-consumption-throughout-the-week-rf4XFM {
  background-color: transparent;
  height: auto;
  left: 385px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 990px;
  width: auto;
}

.my-progress-old-user .on-time-rf4XFM {
  background-color: transparent;
  color: var(--orangestandard);
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 722px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 717px;
  width: auto;
}

.my-progress-old-user .progress-chart-rf4XFM {
  background-color: transparent;
  height: 420px;
  left: 382px;
  position: absolute;
  top: 1067px;
  width: 928px;
}

.my-progress-old-user .rectangle-67-9XNdvQ {
  background-color: var(--white);
  border: 1px none;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  height: 420px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 914px;
}

.my-progress-old-user .sun-9XNdvQ {
  background-color: transparent;
  height: auto;
  left: 204px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 353px;
  width: auto;
}

.my-progress-old-user .mon-9XNdvQ {
  background-color: transparent;
  height: auto;
  left: 297px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 353px;
  width: auto;
}

.my-progress-old-user .tue-9XNdvQ {
  background-color: transparent;
  height: auto;
  left: 399px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 353px;
  width: auto;
}

.my-progress-old-user .wed-9XNdvQ {
  background-color: transparent;
  height: auto;
  left: 488px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 353px;
  width: auto;
}

.my-progress-old-user .thu-9XNdvQ {
  background-color: transparent;
  height: auto;
  left: 588px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 353px;
  width: auto;
}

.my-progress-old-user .fri-9XNdvQ {
  background-color: transparent;
  height: auto;
  left: 681px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 353px;
  width: auto;
}

.my-progress-old-user .sat-9XNdvQ {
  background-color: transparent;
  height: auto;
  left: 761px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 353px;
  width: auto;
}

.my-progress-old-user .line-2-9XNdvQ {
  background-color: transparent;
  height: 356px;
  left: 123px;
  position: absolute;
  top: 29px;
  width: 2px;
}

.my-progress-old-user .line-3-9XNdvQ {
  background-color: transparent;
  height: 2px;
  left: 69px;
  position: absolute;
  top: 338px;
  width: 792px;
}

.my-progress-old-user .vector-1-9XNdvQ {
  background-color: transparent;
  height: 208px;
  left: 171px;
  mix-blend-mode: normal;
  position: absolute;
  top: 132px;
  width: 651px;
}

.my-progress-old-user .dashboard-rf4XFM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 80px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 160px;
  width: auto;
}

.my-progress-old-user .my-devices-rf4XFM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 76px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 284px;
  width: auto;
}

.my-progress-old-user .schedule-rf4XFM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 93px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 408px;
  width: auto;
}

.my-progress-old-user .tasks-rf4XFM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 125px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 525px;
  width: auto;
}

.my-progress-old-user .how-to-rf4XFM {
  background-color: transparent;
  height: auto;
  left: 95px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 801px;
  width: auto;
}
